<div class="container">
  <h2>my transcriptions</h2>
  <p>Select the transcription you would like to view. You can also delete a transcription
    from this list.
  </p>
</div>
<div class="container">
  <div class="collection">
    <a href="#!" class="collection-item">Alvin</a>
  </div>
</div>
