<div class="container">
  <h2>my transcriptions</h2>
  <p>Select the transcription you would like to view. You can edit that transcription further by clicking its link.
</div>
<div class="container">
  <div class="collection">
    <a href="#!" class="collection-item">Alvin</a>
  </div>
</div>
