<div class="container">
  <h2>my transcriptions</h2>
  <p>Select the transcription you would like to view. You can edit that transcription further by clicking its link.
</div>

<div class="container">
  <div class="collection">
    <form method="GET" action="/transcriptions/<%= transcription.id %>">
      <% transcription.forEach(function(transcription) { %>
      <a href="/transcriptions/<%= transcription.id %>" class="collection-item">Transcription <%= transcription.id %></a>
      <% }); %>
    </form>
  </div>
</div>
