<h5>My Transcriptions</h5>
<div class="collection">
    <%= transcription.forEach(function(transcription) {
    <a href="#!" class="collection-item"><%= transcription.content %></a>
  </div>
  <% }); %>

