<div class="container upload-label">
    <h2>you can transcribe speech audio files. I have a limit of 480 minutes a month, so please be mindful of the length you choose!</h2>
     <p>Before uploading a file, make sure
            to convert your file to FLAC format, 16000 kHz, and mono with a service like <a href="https://convertio.co/">convertio</a>.</h6>
      You can keep track  of your results in My Transcriptions.</p>
</div>
<div class="container" id="form">
    <form action="/results" 
        method="POST" enctype="multipart/form-data">
        <input type="file" id="audio" name="filename" class="btn">
        <input type="submit" class="btn">
    </form>
</div>
