<div class="container">
    <h4>You've been signed out. Please login or register.</h4>
</div>

<div class="container">
    <h5><a href=http://localhost:3000/auth/login>Login</a>
    </h5>
</div>

<div class="container">      
    <h5><a href=http://localhost:3000/auth/register>Register</a> 
    </h5>
</div>