<!-- if the user is logged in already -->
<% if(currentUser) { %>
    <div class="container">
        <h5>You are already logged in!</h5> 
        <h6>No need to register.</h6>
            <p>What would you like to do next? Click the links below.</p>
            <img class="pics" src="/img/flower.png">
        </div>

<!-- if no one is logged in or signed up, have them login or sign up -->
<% } else { %>
<div class="container">
    <form action="/auth/register" method="POST">
        <h5>Register to Begin Saving Your Transcriptions</h5>
        <div class="form-group">
            <label for="authEmail">Email</label>
            <input id="authEmail" class="form-control" type="email" name="email">
        </div>
        <div class="form-group">
            <label for="authName">Name</label>
            <input id="authName" class="form-control" type="text" name="name">
        </div>
        <div class="form-group">
            <label for="authPassword">Password</label>
            <input id="authPassword" class="form-control" type="password" name="password">
        </div>
        <input class="btn cyan darken-3" type="submit">
    </form>
    </div>
</div>
<% } %>
