<div class="container">
    <h5>Sometimes results can take a moment to appear, 
        please be patient while waiting for results.</h5>
</div>
<div class="container">
    <h5>Your transcription will appear here:</h5>
    <div id="circle"></div>
    <p><%= transcription %></p>
</div>
