
<div class="container">
    <h2><%= transcription.id %></h2>
    <div class="container">
    <div id="circle"></div>
    <p><%= transcription.content %></p>
</div>
</div>

<div id="delete-transcription" class="container">
    <form method="POST" action="/display/transcriptions/<%= transcription.id %>?_method=DELETE">
        <button class="btn" type="submit" value="delete">Delete</button>
        </form>
</div>

<div id="new-note" class="container">
    <form method="POST" action="#">
        <label for="content">Make A New Note</label>
        <input type="text" class="materialize-textarea" id="note-content" name="content" required>
        <input type="submit" class="btn">
    </form>
</div>





