<div class="container upload-label">
    <h5>This app can transcribe speech audio files. Before uploading a file, make sure
        to convert your file to MP3 format with a service like <a href="https://convertio.co/">convertio</a>
        before submitting for transcription.
        When you are done with your transcription, hit save to keep your results. You can keep track
        of your results in My Transcriptions. 
    </h5>
</div>
<div class="container" id="form">
    <form action="/results" 
        method="POST" enctype="multipart/form-data">
        <input type="file" id="audio" name="filename">
        <input type="submit">
    </form>
</div>