<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Playfair+Display&display=swap');
        </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <title>glisten</title>
</head>
<body>
    <nav class="grey lighten-5">
        <ul id="navvy">
            <li><a href="http://localhost:3001/home">Home</a></li>
            <li><a href="http://localhost:3001/uploadaudio">Upload Audio</a></li>
            <li><a href="http://localhost:3001/transcriptions">My Transcriptions</a></li>
            <li><a href="http://localhost:3001/dictation">Dictate</a></li>
            <li>Sign In/Register</li>
            <li>Logout</li>
        </ul>
    </nav>
 
        <!-- <i id="micBtn" class="material-icons">mic</i> -->
    <%- body %>
</body>
</html>

