<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Playfair+Display&display=swap');
        </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <title>P2 testing</title>
</head>
<body>
    <nav class="transparent">
        <ul id="navvy">
            <li>Home</li>
            <li>Upload Audio</li>
            <li>My Transcriptions</li>
            <br>
            <br>
            <li>Sign In</li>
            <li>Log Out</li>
        </ul>
    </nav>
 
        <!-- <i id="micBtn" class="material-icons">mic</i> -->
    <%- body %>
</body>
</html>

