body {
    font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5 {
    color: rgb(55, 55, 170);
}

nav{
    border-bottom: 4px dotted goldenrod;
}

nav ul li a{
    color: black;
}

nav ul li{
    color: black;
}

#navvy{
    display: flex;
    justify-content: space-evenly;
}

input{
    font-family: serif;
}

#circle{
    float: left;
    width: 16vw;
    height: 16vw;
    margin: 1vw;
    shape-outside: circle();
    clip-path: circle();    
    background: lightblue;    
}

.result-divs{
    background-color: rgb(250, 236, 216);
    height: 50vw;
    position: absolute;
    margin: auto;
    top: 18vw;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2vw;
    /* border: 1px solid black; */
}
